$blue = #2693ff
$hoverBlue = #198bfc
$blueOutline = #2693ff
$hoverBlueOutline = rgba(38, 147, 255, 0.6)
$hoverBlueOutlineBg = #f0f7ff

$red = #ff4040
$hoverRed = #ff3333
$redOutline = $red
$hoverRedOutline =rgba(255, 64, 64, 0.6)
$hoverRedOutlineBg = #ffefef

$gray = #d4d7d9
$hoverGray = #c8cacc
$hoverGrayBg = #f0f3f5

$linkColor = $blue
$linkColorLine = $blueOutline
$dangerColor = $red
$dangerColorLine = $redOutline

$warningColor = yellow
$successColor = green

$fontColor3 = #333333
$fontColor6 = #666666
$fontColor9 = #999999
$grayBgColor = #edf0f2
$baseBgColor = #364759
$sectionBgColor = #f5f7f7
