.mes-schedule{
    padding: 10px;
    .mes-schedule__search,
    .mes-schedule__input{
        margin-right: 20px;
        &:last-child{
            margin-right: 0;
        }
    }
    .mes-schedule__input{
        float: left;
        width: 200px;
    }
}