// 通用样式
@import 'core/reset'
@import 'core/avalon'

// 组件样式
@import 'views/packages/al-form'
@import 'views/packages/al-layout'
@import 'views/packages/al-tabs'

// 项目样式
@import 'views/index'
@import 'views/login'
@import 'views/schedule'

// 替换 element-ui style
@import 'replace'

// 开发环境引入CSS，以检测布局是否合理。生产环境不引入。
@import 'core/layout-lint'