.element-replace{
    .el-menu{
        border-right: 0 none;
        width: 180px;
        .el-menu-item{
            min-width: inherit;
            &.is-active{
                background-color: #409EFF !important;
                color: #fff;
            }
            &:hover{
                box-shadow: 0 0 8px rgba(0,0,0,.4) inset;
            }
        }
    }
    .fa{
        color: #fff;
    }
}